In [23]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
l=["23-Mar-2023","10-Mar-2023","22-Apr-2023","01-Nov-2023","28-Sept-2023"]
l2=["Dec-2015","July-2015","Feb-2014","Apr-2014","May-2015"]
df=pd.DataFrame({"issue":l,"last":l2})

In [3]:
df.head()

          issue       last
0   23-Mar-2023   Dec-2015
1   10-Mar-2023  July-2015
2   22-Apr-2023   Feb-2014
3   01-Nov-2023   Apr-2014
4  28-Sept-2023   May-2015

In [4]:
df.dtypes

issue    object
last     object
dtype: object

In [5]:
df["issue"]=pd.to_datetime(df["issue"])
df["last"]=pd.to_datetime(df["last"])

In [6]:
df.dtypes

issue    datetime64[ns]
last     datetime64[ns]
dtype: object

In [7]:
df

       issue       last
0 2023-03-23 2015-12-01
1 2023-03-10 2015-07-01
2 2023-04-22 2014-02-01
3 2023-11-01 2014-04-01
4 2023-09-28 2015-05-01

In [8]:
df["issue"].dt.week

C:\Users\aksha\AppData\Local\Temp\ipykernel_1476\749331339.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df["issue"].dt.week

0    12
1    10
2    16
3    44
4    39
Name: issue, dtype: int64

In [9]:
df["issue"].dt.month

0     3
1     3
2     4
3    11
4     9
Name: issue, dtype: int64

In [10]:
df["issue"].dt.quarter

0    1
1    1
2    2
3    4
4    3
Name: issue, dtype: int64

In [11]:
df["issue"].dt.year

0    2023
1    2023
2    2023
3    2023
4    2023
Name: issue, dtype: int64

In [12]:
df["issue"].dt.day

0    23
1    10
2    22
3     1
4    28
Name: issue, dtype: int64

In [13]:
df["issue"].dt.year.unique()

array([2023], dtype=int64)

In [14]:
df["issue"].dt.dayofweek

0    3
1    4
2    5
3    2
4    3
Name: issue, dtype: int64

In [15]:
#for machine learning we dont use these variables directly since they dont say any information directly since it is just a number for them
#so we need to extract different variables from this like day passed,day difference,week,day,month,year info,is it a weekened .etc

In [16]:
#lets create a new variable isweekend from issue column

In [20]:
#if day of week is 5 or 6 then it is a weekend else not
np.where(df["issue"].dt.dayofweek.isin([5,6]),1,0)

array([0, 0, 1, 0, 0])

In [21]:
#calculating difference between two dates interms of days
df["issue"]-df["last"]

0   2669 days
1   2809 days
2   3367 days
3   3501 days
4   3072 days
dtype: timedelta64[ns]

In [22]:
#inorder to just extract number 
(df["issue"]-df["last"]).dt.days

0    2669
1    2809
2    3367
3    3501
4    3072
dtype: int64

In [24]:
#today date
#for this u may need external library
import datetime

In [26]:
datetime.datetime.today()

datetime.datetime(2023, 3, 23, 18, 22, 54, 773414)

In [51]:
#now lets work with time

In [52]:
#first lets create a range of values
df=pd.DataFrame(pd.date_range('2015-1-5 11:20:00',periods=7,freq="H"),columns=["datetime"])
df["end"]=pd.date_range('2016-4-6 11:20:00',periods=7,freq="H")

In [53]:
df

             datetime                 end
0 2015-01-05 11:20:00 2016-04-06 11:20:00
1 2015-01-05 12:20:00 2016-04-06 12:20:00
2 2015-01-05 13:20:00 2016-04-06 13:20:00
3 2015-01-05 14:20:00 2016-04-06 14:20:00
4 2015-01-05 15:20:00 2016-04-06 15:20:00
5 2015-01-05 16:20:00 2016-04-06 16:20:00
6 2015-01-05 17:20:00 2016-04-06 17:20:00

In [54]:
df["datetime"].dt.time

0    11:20:00
1    12:20:00
2    13:20:00
3    14:20:00
4    15:20:00
5    16:20:00
6    17:20:00
Name: datetime, dtype: object

In [55]:
#extracting in one go instead of separately
pd.DataFrame(([i.hour,i.minute,i.second] for i in df["datetime"]),columns=["hour","minute","seconds"])

   hour  minute  seconds
0    11      20        0
1    12      20        0
2    13      20        0
3    14      20        0
4    15      20        0
5    16      20        0
6    17      20        0

In [58]:
#subtracing
df["datetime"]-df["end"]

0   -457 days
1   -457 days
2   -457 days
3   -457 days
4   -457 days
5   -457 days
6   -457 days
dtype: timedelta64[ns]